:root{
  --header-bg-color:#014E56;
  --center-section-bg:#012F34;
  --font-color-pink:#F67E7E;
  --font-color-white:#fff;
  --font-color-light-green:#79C8C7;
  --font-color-dark-green:#012F34;
  --font-color-black:#002529;



}






@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Regular.woff2") format("woff2"),
      url("../fonts/Livvic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Bold.woff2") format("woff2"),
      url("../fonts/Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Livvic","Arial",sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.first__part {
  background-color: var(--header-bg-color);
}

.header{
  background-color: var(--header-bg-color);
}

/* NAV  */


.nav {

  display: flex;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 120px;
}

.img--myteam {
  margin-right: 40px;
}


.left-nav__container {
  display: flex;
  align-items: center;

}

.nav__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;

}
.nav__item {
  margin-left: 40px;
}

.nav__link{
text-decoration: none;
color: var(--font-color-white);
font-weight: 600;
font-size: 18px;
line-height: 28px;
}
.nav__link:hover {
color: var(--font-color-pink);
}


.button {

  text-decoration: none;
  font-weight: 600;
font-size: 18px;
line-height: 28px;
padding: 9px 33px 11px 32px;
border: 2px solid transparent;
border-radius: 24px;
text-align: center;
color: var(--font-color-white);
}

.nav__button {
  border-color: #fff;
  width: 160px;
  margin-left: auto;
}

.nav__button:hover {
  background-color: #fff;
  color: var(--font-color-black);
}


 /* TALANT  */



.talant{
  position: relative;

}

.talant__container{
  display: flex;
  padding-bottom: 250px;
  background-image: url("../img/header-bg-bottom-img.svg");
  background-repeat: no-repeat;
  background-position:  right calc(100% + 100px);
}

.talant__title {
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
position: relative;
color: var(--font-color-white);
width: 625px;
padding-top: 20px;
margin-right: auto;
margin: 0;
color: var(--font-color-white);
}
.talant-span {
  color: var(--font-color-pink);

}

.talant__title::before{
content: "";
background-image: url("../img/header-bg-left-img.svg");
display: block;
width: 200px;height: 200px;
position: absolute;
left: -300px;
top: 20px;
}

.talant__text {
  font-weight: 600;
font-size: 18px;
line-height: 28px;
color: var(--font-color-white);
padding-top: 20px;
width: 445px;
margin-left: auto;

}

.talant__text::before {
  content: "";
  border-top: 4px solid var(--font-color-light-green);
display: block;
width: 50px;
margin-bottom: 80px;

}


/* MANAGE  */



.manage {
  background-color: var(--font-color-dark-green);

}

.manage{
  background-image: url("../img/manage-bg-img.png");
background-repeat: no-repeat;
background-position: calc(50% + 750px) bottom;
}

.manage__container {
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;

}

.manage__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--font-color-white);
width: 445px;
margin-right: auto;
}

.manage__title::before {
  content: "";
  border-top: 4px solid var(--font-color-pink);
display: block;
width: 50px;
margin-bottom: 80px;
}

.manage__list {
  width: 545px;
  padding-left: 0;
  list-style: none;
margin-left: auto;
}
.item--individuals{
  background-image: url("../img/logo-individuals.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 100px;
}
.item--implement{
  background-image: url("../img/logo-implement.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 100px;

}

.item--productivity{
  background-image: url("../img/logo-productivity.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 100px;

}
.manage-item__title {
  font-weight: bold;
font-size: 18px;
line-height: 28px;
  color: var(--font-color-pink);
  width: 445px;
}

.manage-item__text {
  font-weight: 600;
font-size: 15px;
line-height: 25px;
color: var(--font-color-white);
width: 445px;

}

<<<<<<< HEAD


/*TODO FOOTER */



.footer{
  padding: 48px 0;
  background-color: var(--font-color-black);
}
.footer__container{
  display: flex;
  align-items: center;
}

.footer__box{
  margin-right: 125px;
}

.footer__address{
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-white);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__social-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.social-list__link{
  color:var(--font-color-white);
  transition: color 0.3s ease;
}

.social-list__link:hover{
  color: var(--font-color-pink);
}

.social-list__item:not(:last-child){
  margin-right: 16px;
}

.footer__test-add{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-white);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.social-box{
  max-width: 265px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__list {
  width: 140px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;

}


.footer__link {
  text-decoration: none;
  color: var(--font-color-white);
}

















=======
.ready {
  background-color: var(--font-color-pink);
  background-image: url("../img/ready-bg-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 754px) calc(100% + 100px);
}

.ready__container {
  display: flex;
justify-content: space-around;
align-items: center;
}

.ready__title{
  font-weight: bold;
font-size: 48px;
line-height: 48px;
color: var(--font-color-dark-green);
}

.ready__button {
  border-color: var(--font-color-dark-green);
  color: var(--font-color-dark-green);
  width: 160px;
  padding: 9px 33px 11px 32px;
  margin-top: 76px;
  margin-bottom: 76px;
}

.ready__button:hover{
background-color: var(--font-color-dark-green);
color: var(--font-color-white);
}
>>>>>>> ready-section
